$small-banner-height: 70px;
$big-banner-height: 501px;
$time-transiotion: 0.2s;
.desktop {
  h1 {
    color: $yellow;
    font-size: $font-size-h1 - 18;
    line-height: $line-height-h1;
    margin-bottom: 25px;
  }

  h2 {
    font-size: $font-size-h2 - 8;
    &.color-white {
      color: $white;
    }
    @media (max-width: 767px){
      font-size:$size-h3;
      line-height: $line-height-h3;
    }
  }
  .bg-banner-details {
    .col-md-7 {
      padding-left: 0;
    }
    .col-md-5{
      margin-top: 80px;
    }
  }

  .caption-label {
    margin-top: 0;
  }

  .price {
    color: $caption-text;
    span { color: $gray-base; }
  }

  .bg-banner-black {
    padding-bottom: 160px;
    h2 {
      color: $white;
      text-align: center;
    }
    .lead {
      font-size: $size-lead;
      font-weight: 700;
      text-align: center;
      max-width: 60%;
      @media (min-width: 320px) and (max-width: 767px){
        max-width: 100%;
      }
    }
  }

  .banner-full-width {
    .container {
      padding: 0;
      .on-affix {
        display: none;
      }
      .img-after-second,
      .img-after {
        background-image: url("../assets/img/desktop/desktop-img-slide01.png");
        position: absolute;
        right: 0;
        margin: 0;
        z-index: 2;
        height: $big-banner-height;
        width: 245px;
        background-repeat: no-repeat;
        top: 0;

        @media (min-width: 320px) and (max-width: 991px){
          left: initial;
          top: 0;
          right: 0;
        }
        @media (min-width: 320px) and (max-width: 560px){
          display: none;
        }
        &-second {
          background-image: url("../assets/img/desktop/desktop-img-slide02.png");
          left: 0;
          width: 245px;
          top: 71px;
        }
      }
      .col-md-6 {
        padding: 90px 95px;
        height: $big-banner-height;
        .lead-small {
          text-transform: uppercase;
          margin-bottom: 50px;
          margin-left: 0;
          @media (min-width: 560px) and (max-width: 991px){
            margin-right: 30px;
          }

          &.color-black {
            color: #000;
          }
        }
        &.big-left-padding {
          padding-left: 20%;//285px;
          @media (min-width: 320px) and (max-width: 991px){
            padding-right: 70px;
            padding-left: 70px;
          }
          @media (min-width: 560px) and (max-width: 991px){
            padding-left: 255px;
          }
        }
        &.big-right-padding {
          padding-right: 20%;//285px;
          @media (min-width: 320px) and (max-width: 991px){
            padding-right: 70px;
            padding-left: 70px;
          }

          .lead-small {
            @media (min-width: 560px) and (max-width: 991px){
              margin-right: 30%;
            }
          }
        }

      }
    }
  }

  .info-box-wrapper {
    padding-top: 0;
  }
  .info-box {
    img {
      max-width: 100%;
    }
    .col-md-7 {
      @media (min-width: 320px) and (max-width: 991px){
        margin-bottom: 30px;
      }
    }
    .price-box {
      @media (min-width: 320px) and (max-width: 767px){
        margin-top: 0;
      }
    }
  }

  //customize carousel
  .carousel {
    h2 { }
    a {
      display: block;
      z-index: 15; //menu z-index is 2
    }
    .caption {
      text-align: center;
      margin-bottom: 40px;
      color: $lead-small;
    }
    .price-box {
      p {
        color: $yellow;
        font-size: $font-size-h3 + 6;
        font-family: $font-family-base;
        span.old-price {
          margin-right: 10px;
          text-decoration: line-through;
          color: $lead-small;
          font-size: $font-size-base;
          font-family: $font-family-sans-serif;
        }
      }

    }
  }
  #carousel-full-width {

    .carousel-inner{
      height: 500px;
      .row {
      padding-top: 0;
      }
    }

    .carousel-control.right,
    .carousel-control.left {
      width: 55px;
      z-index: 15;
      margin: auto;
      height: 0;
    }
    .icon-next,
    .icon-prev {
      top: initial;
    }
    .carousel-caption {
      text-align: center;
    }
  }

  .affix {
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .affix + .info-box-wrapper {
    padding-top: 230px;
    z-index: 1;
  }

  .affix,
  .affix #carousel-full-width .carousel-control {
    &.right,
    &.left{
      margin-top: 30px;
    }
    &.right{
      margin-right: 55px;
      @media (min-width: 320px) and (max-width: 767px){
        margin-right: 40px;
        //width: 20px;
      }
    }
    &.left{
      margin-left: 55px;
      @media (min-width: 320px) and (max-width: 767px){
        margin-left: 20px;
        //width: 20px;
      }
    }

    .icon-prev,
    .icon-next {
        @media (min-width: 320px) and (max-width: 767px){
          top: -6px;
        }
      }

  }
  .affix #carousel-full-width .carousel-inner {
    height: $small-banner-height;
    transition: $time-transiotion;
    .off-affix {display: none;}

    .img-after-second,
    .img-after {
      //margin-top: -10px;
      //@media (min-width: 320px) and (max-width: 991px){}
      position: relative;
      display: none;
    }
    .on-affix {
      margin-top: 10px;
      display: block;
    }
    .col-md-6 {
      padding: 0 95px;
      //height: $small-banner-height;
      transition: $time-transiotion;
      &.big-left-padding {
        //padding-left: 20%;
        padding: 0;
        button{
          float: right;
          margin-right: 30%;
        }
        @media (min-width: 320px) and (max-width: 560px){
          padding: 0 60px 0 40px;
        }
      }
      &.big-right-padding {
        padding: 0;
        button{
          float: right;
          margin-right: 30%;
          @media (min-width: 320px) and (max-width: 911px) {
            margin: 10px auto 0;
            float: none;
          }
        }
        @media (min-width: 320px) and (max-width: 560px){
          padding: 0 60px 0 50px;
        }
      }

      /*media for buttons*/
      @media (min-width: 320px) and (max-width: 991px){
        &.big-right-padding,
        &.big-left-padding {
            padding-top: 10px;
        }
        &.big-right-padding button,
        &.big-left-padding button {
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-top: 0px;
        }
      }
      @media (min-width: 320px) and (max-width: 386px){
        &.big-right-padding button,
        &.big-left-padding button {
          font-size: 16px;
          padding: 3px 7px;
          margin-top: 0px;
          width: 130px;
        }
      }
      /*media for buttons END*/

      h2 {
        margin-top: 10px;
        font-size: $font-size-h3; //24px
        @media (min-width: 320px) and (max-width: 560px){
          font-size: $font-size-h4;
        }
      }
      button {
        padding: 10px 15px;
        @media (min-width: 320px) and (max-width: 991px){
          margin-top: 10px;
        }
      }
      .lead-small {
//        margin-bottom: 20px;
//        margin-left: 0;
        display: none;
      }
    }
  }

}