$first-banner-top-padding: 170px;
.desktop-details {
//  color: #000;
  background-color: #fff;
  h1 {
    font-family: $font-family-base ;
    font-size: $font-size-h3;
    color: $white;
    line-height: $line-height-h2;
  }

  h2, h3, h4, h5, h6 {
    color: #000;
    &.color-red {
      color: $red;
      @media (min-width: 320px) and (max-width: 767px){
        margin-bottom: 20px;
      }
      @media (min-width: 767px) and (max-width: 991px){
        margin-bottom: 40px;
      }
    }
  }

  hr {
    margin: 55px 0;
  }

  .info-box {
    //padding: 55px 0;
    &:last-child{
      padding-bottom: 55px;
    }
    .caption-image {
      margin-top: 10px;
    }
    &--last {
      padding-bottom: 100px;
      @media (min-width: 320px) and (max-width: 767px){
        padding-bottom: 50px;
      }
    }
  }

  .info-box-wrapper .row {
    &:first-child {
      padding-top: 100px;
      @media (min-width: 320px) and (max-width: 767px){
        padding-top: 50px;
      }
    }
    .container {
      @media (min-width: 767px) and (max-width: 991px){
        padding: 0 70px;
      }
    }

  }

  .bg-banner-details {
    background-image: url("../assets/img/desktop-details/bg-banner-01-1.jpg");
    overflow: visible;
    padding-top: 13%;
    padding-bottom: 10%;

    @media (min-width: 320px) and (max-width: 991px){
      background-image: url("../assets/img/desktop-details/bg-banner-no-star.jpg");
    }

    .col-md-7 {
      padding-left: 15px;
    }
    .col-md-5{
      padding-left: 100px;
      padding-right: 0;
      @media (min-width: 320px) and (max-width: 991px){
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .caption {
      color: $lead-small;
    }
  }
  .caption {
    text-transform: uppercase;
    &-label {
      font-family: $font-family-base ;
      font-size: $font-size-base;
      font-weight: 400;
      margin-top: 50px;
    }
    &.price {
      text-transform: initial;
    }
  }
  .price-box {
    margin: 50px 0 ;
    @media (min-width: 320px) and (max-width: 767px) {
      margin-top: 0;
    }
  }
  button.btn-red {
    @media (min-width: 320px) and (max-width: 767px) {
      margin-top: 30px ;
    }
  }
  .price {
    color: $lead-small;
    margin-right: 100px ;
    @media (max-width: 767px){
      margin-right: 0px ;
    }
    span {
      font-family: $font-family-base ;
      font-size: $font-size-h3 + 6;
      color: $white;
      text-transform: initial;
      @media (max-width: 767px){
        font-size:$size-h3;
        line-height: $line-height-h3;
      }
    }
  }

  .counter {
    display: inline-block;
    padding-top: 9px;
    span {
      padding: 5px 10px;
      border: 1px solid $lead-small;
    }
    button {
      background-color: transparent;
      border: 0;
      padding: 0 12px;
      color: $lead-small;
      font-family: Arial;
    }
    @media (min-width: 320px) and (max-width: 767px) {
      position: absolute;
      bottom: 100px;
      left: 20px;
    }
  }

  .margin-bottom-large {
    margin-bottom: 55px;
    @media (min-width: 320px) and (max-width: 991px){
      //margin-bottom: 0;
    }
  }



}