// Add custom font
@font-face {
  font-family: "FreeSetExtraCTT";
  src: url("../assets/img/fonts/FreeSetExtraCTT_noIEfix.eot");
  src: url("../assets/img/fonts/FreeSetExtraCTT.eot") format("embedded-opentype"),
  url("../assets/img/fonts/FreeSetExtraCTT.woff2") format("woff2"),
  url("../assets/img/fonts/FreeSetExtraCTT.woff") format("woff"),
  url("../assets/img/fonts/FreeSetExtraCTT.ttf") format("truetype"),
  url("../assets/img/fonts/FreeSetExtraCTT.svg#FreeSetExtraCTT") format("svg");
}
//@import url(http://allfont.ru/allfont.css?fonts=freesetextractt);
//@import url(http://db.onlinewebfonts.com/c/50a0ef61787376809d406b9813eebee7?family=FreeSetExtraCTT);